#spinner {
    position: relative;
    width: 20px;
    height: 20px;
    border: 3px solid #db3c48;;
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    margin: 30px 0 30px 180px;
}

#button-spinner {
    position: relative;
    border: 3px solid #ffffff;
    border-top-color: #db3c48;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 5px
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}